<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template}">

<head>
	<title>Countries</title>
	<style>
		[v-cloak] {
			display: none;
		}
	</style>
</head>

<div layout:fragment="page_content" id="page_content">
	<h1 class="page-header">Countries</h1>
	<div id="countries">
		<div class="row justify-content-md-center">
			<div class="col-md-6 input-group">
				<input type="text" class="filter form-control" id="search_f"
					th:value="${param.search}" name="search" placeholder="Search by name" />
				<button id="searchBtn" class="btn btn-primary btn-sm" v-once>
					<i class="fa fa-search"></i> Search</button>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col">
				<table class="table table-striped">
					<thead v-once>
						<tr>
							<th width="5%">Code</th>
							<th>Name</th>
							<th width="15%">Continent</th>
							<th width="20%">Region</th>
							<th width="15%">Capital</th>
						</tr>
					</thead>
					<tbody  v-cloak>
						<tr v-if="loading">
							<td colspan="5">
								<div class="alert alert-info"><i class="fa fa-spinner fa-spin"></i> Loading data ...</div>
							</td>
						</tr>
						<tr v-for="c in remote.content" :key="c.code" v-else>
							<td>{{ c.code }}</td>
							<td>{{ c.name }}</td>
							<td>{{ c.continent }}</td>
							<td>{{ c.region }}</td>	
							<td><span v-if="c.capital">{{ c.capital.name }}</span></td>
							
						</tr>
					</tbody>
					<!-- <tbody v-else v-cloak>
						<tr>
							<td colspan="5">
								<div class="alert alert-info">No data found</div>
							</td>
						</tr>
					</tbody> -->
				</table>
				<div>
					<pagination :total="remote.totalPages" :current="remote.number + 1" :maxvisible="maxVisible"
						:callback="paginationCallback"></pagination>
				</div>
			
			</div>
		</div>
	</div>
</div>
<th:block layout:fragment="scripts">
	<script type="text/html" id="pagination-template">
		<nav aria-label="Page navigation example">
		  <ul class="pagination">
			<li class="page-item" :class="{disabled: disablePrev}">
				<a class="page-link" href="javascript:void(0);"
					v-on:click="previous">Previous</a>
			</li>
			<li class="page-item" :class="{ active: (p == current)}" v-for="p in range">
				<a class="page-link" href="javascript:void(0);" 
					v-on:click="callback(p)">{{ p }}</a>
			</li>
			<li class="page-item" :class="{disabled: disableNext}">
				<a class="page-link" v-on:click="next" href="javascript:void(0)">Next</a>
			</li>
		  </ul>
		</nav>
	</script>
	
	<script type="text/javascript">
		var vm;
		Vue.component('pagination', {
		  template: $("#pagination-template").html(),
		  props: ["total", "current", "callback", "maxvisible"],
		  data: function(){
			  return {
				  start: 1,
				  end: this.maxvisible
			  }
		  },
		  computed: {
			  range: function(){
				  return _.range(this.start, this.end + 1, 1);
			  },
			  disablePrev: function(){
				  return this.start <= 1;
			  },
			  disableNext: function(){
				  return this.end >= this.total;
			  }
		  },
		  methods:{
			  next: function(){
				  var newEnd = this.end + this.maxvisible;
				  if ( newEnd <= this.total){
					  this.start = this.start + this.maxvisible;
					  this.end = newEnd;  
				  }
				   
			  },
			  
			  previous: function(){
				  var newStart = this.start - this.maxvisible;
				  if ( newStart >= 1){
					  this.start = newStart;
					  this.end = this.end - this.maxvisible;  
				  }
			  }
			  
		  }
		
		});
		
		$(function(){
			vm = new Vue({
				el: "#countries",
				created(){
					getCountries(1);
				},
				data: {
					remote: {},
					loading: true,
					maxVisible: 5
				},
				methods:{
					paginationCallback: function(page){
						getCountries(page);
					}
				}
			});
			
			
			
			
		});
		
		function getCountries(page, callback){
			var params = {size: 2};
			if ( page ){
				params['page'] = page - 1;	
			}
			
			$.getJSON("/api/countries", params, function(remote){
				vm.remote = remote;
				vm.loading = false;
			});
			
		}
	</script>
</th:block>
</html>